@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
}

.input {
    padding: 6px 7px;
    border: 1px gray solid;
    border-radius: 12px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
.button {
    padding: 6px 10px;
    color: white;
    background: black;
    border-radius: 7px;
    margin-bottom: 5px;
}
